Package: freeswitch-mod-bcg729
Source: freeswitch
Version: 1.1.1-0
Architecture: amd64
Essential: no
Priority: optional
Section: comm
Depends: freeswitch (>= 1.4.23),libbcg729-0
Maintainer: Nikita Tarasovb <nikita@mygento.com>
Homepage: https://freeswitch.org/
Description: Freeswitch G729 module
